html{
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  font-family: 'Rubik', sans-serif !important;
  text-decoration: none;
}

.title{
  font-size: 4rem;
  font-weight: 800;
}

